.form-row {
  margin-bottom: 24px
}
.form-control {
  outline-style: none;
  height: 42px;
  border-bottom: 1px solid #c5bfbf;
  background: none;
  width: 50%;
  padding:18px;
  margin: center-align;
  
}
.wrapper{
  width: 50%;
  margin: auto;
  padding: 18px;
  align-items: center;
}
.form-control:focus {
  border-color: #f3d4b7
}

.form-control::-webkit-input-placeholder {
  color: rgb(0, 0, 0);
  font-size: 13px
}

.form-control::-moz-placeholder {
  color: #999;
  font-size: 13px
}

.form-control:-ms-input-placeholder {
  color: #999;
  font-size: 13px
}

.form-control:-moz-placeholder {
  color: #999;
  font-size: 13px
}

textarea.form-control {
  padding-top: 11px;
  padding-bottom: 11px
}
 .form-row.form-group {
      display: block
  }

  .form-row.form-group .form-holder {
      width: 50%;
      margin-right: 0;
      margin-bottom: 24px
  }
.form-row label {
  margin-bottom: 8px;
  display: block
}

.form-row.form-group {
  display: flex;
}

.form-row.form-group .form-holder {
  width: 50%;
  margin-right: 21px
}

.form-row.form-group .form-holder:last-child {
  margin-right: 0
}
input,
textarea,
select,
.button {
  font-family: "Poppins-Regular";
  border-radius: 20px;
  background-color: #ffffff;
  border: 1px solid ;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  background-image: linear-gradient(to right, blue,purple) ;
}




.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}